.env
install/install.lock
storage/sessions/*
!storage/sessions/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/uploads/*
!storage/uploads/.gitkeep
storage/tmp/*
!storage/tmp/.gitkeep
storage/backups/*
!storage/backups/.gitkeep
storage/exports/*
!storage/exports/.gitkeep
public/assets/vendor/*
!public/assets/vendor/.gitkeep
vendor/
composer.lock
.idea/
.vscode/
*.swp